<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de productos</span>
          <button class="btn btn-success float-end" routerLink='/crear-producto'> Agregar </button>
          <table *ngIf="listProductos.length > 0" class="table mt-3">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Ubicación</th>
                <th>Precio</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <th>{{producto.nombre}}</th>
                <td>{{producto.categoria}}</td>
                <td>{{producto.ubicacion}}</td>
                <td>{{producto.precio | currency : 'USD' }}</td>
                <td >
                  <i  [routerLink]= "['/editar-producto',producto._id ]" class="fas fa-edit"></i>
                  <i  (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                </td>

              </tr>
              <h5 *ngIf="listProductos.length == 0" >No hay productos</h5>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
